<h2>Feedback for <%= @user.email %></h2>
<br/>
<div class="row">	
	<div class="span9 offset3">
		<table class="table">
		  <% @feedbacks.each do |feedback| %>
		    <tr><td>
				<%= feedback.message %>
		    </td></tr>
		  <% end %>
		</table>
	</div>
</div>