<div class="left well">
	Sent to:
	<br/> 
	<%= @feedback.email %>
	<br/><br/>
	Message:
	<br/>
	<%= @feedback.message %>

	<br/><br/><br/>
	<div class="center">
		<a href="<%= root_url %>" style="color:blue">Send more feedback</a>	
	</div>
</div>