<div class="row-fluid">
	<div class="center span12">
		<h1>You've got feedback. Now tell 'em!</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="left span12">		
		<%= render :partial => '/feedbacks/form.html.erb' %>
	</div>	
</div>