@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  text-align: center;
  padding-bottom: 20px;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1.mobile {
	font-size: 20px;
	line-height: 24px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.hidden {
	visibility:hidden;
}

.removed {
	display:none;
}

.navbar-inner {
	padding-top: 15px;
	padding-bottom: 5px;
}

.container{
	padding-top:30px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

input.error, textarea.error, select.error
{
	border: 1px solid red;
	margin-bottom: 0px;
}

form
{
	margin-top: 20px;
}

textarea {
  resize: vertical;
}

.form_well
{
	padding-right: 40px;
}

div.error, span.error, p.error
{
	color: red;
}

.help-block.error
{
	margin-left:	1px;
	margin-bottom:	10px;
}
