@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  text-align: center;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}

