
<div class="row-fluid">
	<div class="center span12">
		<h1>You've got feedback. Now tell 'em!</h1>
	</div>
</div>
<div class="row-fluid formContainer">
	<div class="span4">&nbsp;</div>
	<div class="left span4">
		<form class="well">
		  	<label>Feedback for:</label>
		  	<input type="text" class="span12" placeholder="co-worker@example.com" />

			<label>Message:</label>
		  	<textarea class="span12" id="textarea" rows="3"></textarea>
		
		  	<br/>	
		 	<div class="right">
		  		<button type="submit" class="btn btn-large btn-primary">Submit</button>
		 	</div>
		</form>
	</div>	
</div>
