<div class="center hero-unit">
  <h1>You've got feedback. Now tell 'em!</h1>

   <h2>Send anonymous feedback to the people that need it.</h2>

	<div class="left span8 offset5">
		<form>
		  <label>Feedback for:</label>
		  <input type="text" class="span6" placeholder="Type something…" />

		  <label>Message:</label>
		  <textarea class="span6" id="textarea" rows="3"></textarea>
		
		  <br/>	
		  <button type="submit" class="btn">Submit</button>
		</form>
	</div>	
</div>
