<div class="footer">
	<% if (session[:user_id])%>
		<a href="<%= user_path(session[:user_id]) %>">My Feedback</a>
	<% else %>
		<a href="<%= log_in_url %>">Log In</a>
	<% end  %>
	&nbsp;|&nbsp;
	<a href="<%= about_url %>">About</a>
	&nbsp;|&nbsp;
	<a href="http://twitter.com/home?status=Hey%20@NowTellEm+">Contact</a>
	<% if (session[:user_id])%>
		&nbsp;|&nbsp;<a href="<%= log_out_url %>">Log Out</a>
	<% end  %>
</div>